
.hero{
    background-color: #fff0ed;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    
}
.hero__button{
    position: relative;
}
.hero__detail{

    position:absolute;
    border: 0.1rem solid black;
    padding: 1.5rem 3rem;
    width: 12rem;
    top: -1.2rem;
    left: -0.3rem;
}

.hero__article{
    width: 25%;
    padding-top: 10rem;
}

.products{
    
    background-color: #f7f7f7;
    padding: 3rem 5rem;
}
.products__body{
    display: flex;
    align-items: baseline;
    
}

.products__stats{
    background-color: #fff0ed;
    padding: 2rem;
    display: flex;
    justify-content: space-between;  
}
.products__button{
    display: flex;
    justify-content: center;
 
}

.products__button--view{
    position: relative;
}
.products__button--detail{
    
    position:absolute;
    border: 0.1rem solid black;
    padding: 1.5rem 3rem;
    width: 12rem;
    top: -0.3rem;
    left: -0.3rem;

}
.products__title{
    display: flex;
    justify-content: center;
}
.products__structure{
    color: gray;
}
.discount__span{
    font-weight: 700;
}
.products__item{
    width: 200rem;
    margin: 2rem;
    border-radius: 0.65rem;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.25);
   
}
.products__img{
    background-color: white;
    display:flex;
    justify-content: center;
    padding: 2rem 0rem;

}
.products__image{
    height: 14.88rem;
}
.discount__writeup{
    background-color: white;
   

}
.discount__image{
    width: 3rem;
}
 .discount__header{
    font-size: 3rem;
    font-weight: 300;
}

.discount__code{
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
    padding:2rem;
   
}  
.discount__product{
    background-color: #393939;
    color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 5rem;
}
.discount__tag--button{
    position: relative;
}
.discount__tag--detail{
    position: absolute;
    border: 0.1rem solid black;
    padding: 2rem 3rem;
    width: 12rem;
    top: -0.3rem;
    left: -0.3rem;
   
    
}
.dicount__tiltedcan{
    background-image: url("../assets/images/coldbrewbackground.png");
    width: 25rem;
    margin: 1.25px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 3.5rem;
    position: relative;
    
}
.discount__candetail{
    width: 25rem;
    padding: 12rem;
    border: 0.2rem solid #5bacc3;
    position:absolute;
    top: -0.8rem;
    right: 0.8rem;
}

.discount__section{
    display: flex;
    padding: 5rem;
}
.discount__section1{
    width: 55%;
}
.discount__images{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    
}
.footer__days{
    font-weight:bold;
}
.footer{
    background-color: #fff0ed;
    width:100%;
    padding: 2.5rem 0rem;
}
.footer__items{
    width: 16%
}
.footer__icon{
    width: 3.13rem;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.footer__info{
    margin: 0;
    padding:0;
}
.footer__logo1{
    width: 50px;
    padding: 0;
    position: relative;
    left: -8.5rem;
    opacity: 0.25;
}
.footer__logo2{
    width: 50px;
    padding: 0;
    position: relative;
    right: -10rem;
    opacity: 0.25;
}