* {
  box-sizing: border-box;
}

body {
  margin: 0rem;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #393939;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: lighter;
  font-size: 3.3rem;
}

.hero__title {
  font-weight: light 300;
}

h2 {
  font-weight: lighter;
  font-size: 3rem;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
}

.header__link {
  font-weight: normal 400;
  font-size: 1.3rem;
}

p {
  font-weight: normal 400;
  font-size: 1.3rem;
}

.footer__title {
  font-size: 2rem;
  font-weight: light 300;
}

.header__nitro {
  color: #393939;
  font-weight: lighter;
}

.header__item {
  text-decoration: none;
  list-style-type: none;
}

.price {
  color: #5bacc3;
  font-weight: 800;
  font-size: 1.5rem;
}

.button {
  font-size: 1rem;
  font-weight: normal 400;
  background-color: #5bacc3;
  color: white;
  border: none;
  padding: 1rem 3rem;
  width: 12rem;
  text-transform: uppercase;
  transition: all 1s ease;
}

.button:active {
  transform: scale(0.95);
  background-color: black;
}

.button:hover {
  transform: scale(0.9);
  background-color: black;
}

.header {
  background-color: #fff0ed;
  display: flex;
  padding: 1rem;
}

.header__nav1 {
  display: flex;
}

.header__nitro {
  font-size: 2.5rem;
  margin: 0;
}

.discount__products {
  font-size: 2.5rem;
  font-weight: 300;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.header__item {
  margin: 1rem 1rem;
}

.header__nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__link {
  color: inherit;
}

.header__link--shop {
  color: #5bacc3;
}

.hero {
  background-image: url("../assets/images/coffee-circle.jpg");
  width: 100%;
  height: 25rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18rem 0rem;
}
.hero__title {
  background-color: #393939;
  color: white;
  padding: 3.5rem 3.7rem;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero__title--shadow {
  width: 20%;
  padding: 5.4rem 7.7rem;
  position: absolute;
  border: 0.3rem solid #5bacc3;
  top: -0.7rem;
  left: -0.7rem;
}

.menu__list {
  width: 100%;
  background-color: rgb(71, 70, 70);
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.8rem;
}
.menu__items {
  color: white;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0.3rem 0.7rem;
  border-left: 0.25rem solid #5bacc3;
}
.menu__link {
  color: white;
  text-transform: uppercase;
}

.items__main, .items__main--cold {
  background-color: #fff0ed;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items__main--cold {
  background-color: #f7f7f7;
}
.items__div {
  width: 32%;
}
.items__heading {
  margin: 0;
  display: flex;
  justify-content: center;
}
.items__list {
  display: flex;
  justify-content: center;
}
.items__description {
  font-style: Italic;
  display: flex;
  justify-content: center;
}
.items__price {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=menu.css.map */