@use "./variables" as *;
@use "./mixins" as *;



* {
    box-sizing: border-box;
}

body{
    margin: 0rem;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #393939;
}
a{
    text-decoration: none;
}
h1{
    font-weight: lighter;
    font-size: 3.3rem;
}
.hero__title{ 
    font-weight: light 300;

}
h2{
    font-weight: lighter;
    font-size: 3.0rem;
}
h3{
    font-weight: lighter;
    font-size: 1.5rem;
}
.header__link{
    font-weight: normal 400;
    font-size: 1.3rem;

}
p{
    font-weight: normal 400;
    font-size: 1.3rem;
}

.footer__title{
    font-size: 2rem;
    font-weight: light 300;
}

.header__nitro{
    color: #393939;
    font-weight: lighter;
}
.header__item{
    text-decoration:none;
    list-style-type:none;
}
.price{
    color: #5bacc3;
    font-weight: 800;
    font-size: 1.5rem;
}

.button{
    font-size: 1rem;
    font-weight: normal 400;
    background-color: #5bacc3;
    color: white;
    border: none;
    padding: 1rem 3rem;
    width: 12rem;
    text-transform: uppercase;
    transition: all 1s ease;
}
.button:active{
    transform: scale(0.95);
    background-color:black;
    
}
.button:hover{
    transform:scale(0.9);
    background-color:black;
    
}




.header{
   background-color:#fff0ed;
   display: flex;
   padding: 1rem;
   
}
.header__nav1{
    display: flex;
}

.header__nitro{
   
    font-size: 2.5rem;
    margin: 0;
    
}
.discount__products{
    font-size: 2.5rem;
    font-weight: 300;
}
.header__list{
    
    margin: 0;
    padding: 0;
    display: flex;
    
   
}


.header__item{
    margin: 1rem 1rem;
    
}
.header__nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__link{
    color: inherit;
}
.header__link--shop{
    color: #5bacc3;
}

