$font-stack:'Open Sans', 'Helvetica Neue', sans-serif;
$graphite: #393939;
$nitro-pink: #fff0ed;
$nitro-blue: #5bacc3;
$grey: #909090;
$light-grey: #f7f7f7;
$white: #fff;
$font1: 3.3rem;
$font2: 3.0rem;
$font3: 1.5rem;
$font4:  1.3rem;
$font5: 2rem;
$font6: 2.5rem;
$buttonfont:1rem;
$buttonwidth: 12rem;
$light: 300;
$regular: 400;
$bold: 700;
$bolder: 800;
